<% flash.each do |message_type, message_content| %>
  <div class="ui 
    <% if message_type == "notice" %>
    <%= "success" %>
    <% end %>
    <% if message_type == "alert" %>
    <%= "negative" %>
    <% end %>
    message transition">
    <i class="close icon"></i>
    <div class="header">
      <%= message_content %>
    </div>
  </div>
<% end %>